<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Circus Ticket App</title>
    <meta http-equiv='Content-Type' content='application/xhtml+xml; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href='https://fonts.googleapis.com/css?family=Spectral+SC' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='https://storage.googleapis.com/circus-assets/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='https://storage.googleapis.com/circus-assets/css/bootstrap-datepicker3.min.css'>
    <link rel='stylesheet' type='text/css' href='https://storage.googleapis.com/circus-assets/css/bootstrap-slider.min.css'>
    <link rel='stylesheet' type='text/css' href='https://storage.googleapis.com/circus-assets/style.css'>
    <script type='text/javascript' src='https://storage.googleapis.com/circus-assets/js/jquery.min.js'></script>
    <script type='text/javascript' src='https://storage.googleapis.com/circus-assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='https://storage.googleapis.com/circus-assets/js/bootstrap-datepicker.min.js'></script>
    <script type='text/javascript' src='https://storage.googleapis.com/circus-assets/js/bootstrap-slider.min.js'></script>
    <script type='text/javascript' src='https://storage.googleapis.com/circus-assets/js/jquery.maskedinput.min.js'></script>
    <script type='text/javascript' src='https://storage.googleapis.com/circus-assets/js/script.js'></script>

    <style>
        body {
            background-color: lightblue;
        }
    </style>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
</head>
<body>
<div class='header'>
    <div class='menuButton'>
        <a href='javascript:;'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </a>
    </div>
</div>
<div class='content minH'>
    {% block content %}
    {% endblock %}
</div>
<div class='footer'>
    <div class='container'>
        All rights reserved. Circus &copy;
    </div>
</div>
</body>
</html>