<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <title>Circus Ticket App</title>
    <meta http-equiv='Content-Type' content='application/xhtml+xml; charset=utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link href='https://fonts.googleapis.com/css?family=Spectral+SC' rel='stylesheet'>
    <link rel='stylesheet' type='text/css' href='http://circus.qamania.org/assets/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='http://circus.qamania.org/assets/css/bootstrap-datepicker3.min.css'>
    <link rel='stylesheet' type='text/css' href='http://circus.qamania.org/assets/css/bootstrap-slider.min.css'>
    <link rel='stylesheet' type='text/css' href='http://circus.qamania.org/assets/style.css'>
    <script type='text/javascript' src='http://circus.qamania.org/assets/js/jquery.min.js'></script>
    <script type='text/javascript' src='http://circus.qamania.org/assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='http://circus.qamania.org/assets/js/bootstrap-datepicker.min.js'></script>
    <script type='text/javascript' src='http://circus.qamania.org/assets/js/bootstrap-slider.min.js'></script>
    <script type='text/javascript' src='http://circus.qamania.org/assets/js/jquery.maskedinput.min.js'></script>
    <script type='text/javascript' src='http://circus.qamania.org/assets/js/script.js'></script>
</head>
<body>
<div class='header'>
    <div class='menuButton'>
        <a href='javascript:;'>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
        </a>
    </div>
</div>
<div class='content minH'>
    {% block content %}
    {% endblock %}
</div>
<div class='footer'>
    <div class='container'>
        All rights reserved. Circus &copy;
    </div>
</div>
</body>
</html>