{% extends 'base.html' %}

{% block content %}
<style>
    body {padding:20px;}
    .ticketTable {border-left:1px solid #000; border-top:1px solid #000; margin:0 0 20px;}
    .ticketTable td {border-right:1px solid #000; border-bottom:1px solid #000; padding:5px;}
    .searhResults {display: {{display_search_results}};}

</style>
<div align="right"><a href="/user/">user info</a></div>
<div align="right"><a href="/logout/">logout</a></div>
<h2>Search Tickets</h2>
<form action="/booking/" method="post" class="searchForm">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Get tickets">
</form>

<h2 class="searhResults">Results</h2>
<form action="/book/" method="post" class="bookingForm searhResults">

    <table class="ticketTable">
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
            <td>Features</td>
            <td>Tickets available</td>
            <td>Get tickets</td>
        </tr>
        {% for performance in performance_list %}
        <tr>
            <td>{{performance.date|date:"d/m/Y"}}</td>
            <td>{{performance.time|time:"H:i"}}</td>
            <td>{{performance.name}}</td>
            <td>{{performance.description}}</td>
            <td>{{performance.price}}</td>
            <td>{{performance.features}}</td>
            <td>{{performance.ticketsNumber}}</td>
            <td><input type="number" class="perf_{{performance.id}}" name="{{performance.id}}"></td>
        </tr>
        {% endfor %}
    </table>
    <input class="bookBtn" type="submit" name="action" value="book"/>
    <input class="buyBtn" type="submit" name="action" value="buy"/>
</form>

<script>
var actionParam;

$('.bookingForm').on('submit', function(event){
    event.preventDefault();
    submitParams(actionParam);
    });

$('.bookBtn').click(function(event){
    actionParam='book';
});

$('.buyBtn').click(function(event){
    actionParam = 'buy';
});

function submitParams(action){
    var result = {};
    $(".ticketTable input").each(function(i, input){
       result[input.name] = input.value;
    });

    result['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();
    if(actionParam == 'book'){
     $.post("/booking/book/", result)
        .done(positiveHandler)
        .fail(negativeHandler);
    }
}

function positiveHandler(data){
    if(data.status == 'success')
        location.href = data.redirect_url
}

function negativeHandler(data){
    var resp = data.responseJSON;
    if(resp.message){
        alert(resp.message)
        return;
    }
    alert("something went wrong :(")
}

</script>

{% endblock %}