{% extends 'base.html' %}

{% block content %}
    <div class='userInfo'>
        <div class='container'>
            <a href='/user/' class='userInfoLink' title='User Info'>user info</a>
            <a href='/booking/' class='bookingLink' title='Booking'>booking</a>
            <a href='/logout/' class='logoutLink' title='Logout'>logout</a>
        </div>
    </div>

    <div class='title'>Cart</div>
    <div class='cartTable'>
        <div class='container'>
            <table class='cTable ticketTable bookedTickets'>
                <thead class='cThead'>
                <tr class='cRow'>
                    <td class='cTd'>Ticket&nbsp;Id</td>
                    <td class='cTd'>Date</td>
                    <td class='cTd'>Time</td>

                    <td class='cTd'>Name</td>
                    <td class='cTd'>Price</td>
                    <td class='cTd'>Features</td>
                    <td class='cTd'>Booking Time</td>
                    <td class='cTd'>Snack</td>
                    <td class='cTd'>Pets: Name - Price</td>
                    <td class='cTd'></td>
                </tr>
                </thead>
                <tbody class='cTbody'>
                {% for ticket in tickets %}
                    <tr class='cRow dataRow'>
                        <td class='cTd cTdId'>{{ ticket.id }}</td>
                        <td class='cTd cTdDate'>{{ ticket.performance.date|date:'d/m/Y' }}</td>
                        <td class='cTd cTdTime'>{{ ticket.performance.time|time:'H:i' }}</td>
                        <td class='cTd cTdTitle'>
                            <a href='javascript:;' class='showDes'
                               id='description{{ ticket.id }}'>{{ ticket.performance.name }}</a>
                        </td>
                        <td class='cTd cTdPrice priceCol ticket_{{ ticket.id }}'>{{ ticket.performance.price|floatformat }}</td>
                        <td class='cTd cTdFeatures'>
                            {% for feature in ticket.performance.features.all %}
                                <div class='featureName'>{{ feature.feature }}</div>
                            {% endfor %}
                        </td>
                        <td class='cTd rTdTimestamp'>{{ ticket.booked|date:'d/m/Y' }} {{ ticket.booked|time:'H:i' }}</td>
                        <td class='cTd cTdSnack'>
                            <label><input class='snackInput recalc' type='checkbox' name='{{ ticket.id }}'/>
                                <div class='snackLabel mVis'>Snack</div>
                            </label>
                        </td>
                        <td class='cTd cTdPets'>
                            <div class='pets petInputDiv{{ ticket.id }}'>
                                <select class='select petInput recalc' name='{{ ticket.id }}'>
                                    <option value='' style='display:none;'>Choose a pet</option>
                                    <option value=''></option>
                                    {% for feature in features %}
                                        <option value='{{ feature.name }}'>{{ feature.name }}
                                            - {{ feature.price }}</option>
                                    {% endfor %}
                                </select>
                                <div class='errorText'>Error Text</div>
                            </div>
                        </td>
                        <td class='cTd' id='tick_{{ ticket.id }}'>
                            <a href='javascript:;' class='removeItem removeTicket'>X</a>
                            <div class='removeItemMobile removeTicket'><a href='javascript:;'>Remove ticket</a></div>
                        </td>
                        <td class='clr mVis'></td>
                    </tr>
                    <tr class='cInfo'>
                        <td colspan='9' class='cTd'>
                            <div class='desOuter description{{ ticket.id }}'>
                                <p>{{ ticket.performance.description }}</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class='title'>Options</div>
    <div class='optionsTable'>
        <table class='cTable'>
            <tbody class='cTbody'>
            <tr class='cRow'>
                <td class='cTd cTdName'>Total tickets to buy</td>
                <td class='cTd cTdValue'>{{ tickets.count }}</td>
            </tr>
            <tr class='cRow'>
                <td class='cTd cTdName'>Total price</td>
                <td class='cTd cTdValue totalPrice'>{{ stats.total_price|floatformat }}</td>
            </tr>

            <tr class='cRow'>
                <td class='cTd cTdName'>
                    Total discount <br>
                    <div class='additional'>{{ discounts.user_buy_counter_discount }}% for
                        each {{ discounts.user_buy_counter_limit }} not included
                    </div>
                </td>
                <td class='cTd cTdValue totalDiscount'>{{ stats.total_discount }}</td>
            </tr>

            <tr class='cRow'>
                <td class='cTd cTdName'>
                    Final price with discount <br>
                    <div class='additional'>{{ discounts.user_buy_counter_discount }}% for
                        each {{ discounts.user_buy_counter_limit }} not included
                    </div>
                </td>
                <td class='cTd cTdValue finalPrice'>{{ stats.final_price|floatformat }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class='underCartForm'>
        <div class='formGroup checkPlace'>
            <div class='formLabel'>Credit Card</div>
            <div class='cardInput{% if user.profile.credit_card is not None %} checked{% endif %}'>
                <div class='creditCardOuter'><input type='text' class='formInput creditCardInput' name='creditCard'
                                                    value='{{ user.profile.credit_card.card_number }}'></div>
                <div class='errorText'>Error text</div>
            </div>
        </div>

        <div class='formGroup'>
            <div class='formLabel'>Discount Coupon</div>
            <div class='couponInputDiv'>
                <input type='text' class='formInput discountInput couponInput recalc' name='coupon'>
                <div class='errorText'>Error text</div>
            </div>
        </div>
        <div class='formGroup addressInput'>
            <div class='formLabel'>Delivery Address Info</div>
            <textarea placeholder='Text' class='deliveryAddress'
                      name='address'>{{ user.profile.address|default_if_none:'' }}</textarea>
            <div class='errorText'>Error text</div>
        </div>
        <div class='btnBox twoBtn'>
            <button class='defBtn buyBtn'>Buy</button>
            <button class='defBtn cancelBtn'>Cancel</button>
        </div>
    </div>


    <script>
        $('.recalc').change(function () {
            clearValidationMessages();
            recalc_price();
        });

        function recalc_price() {
            var payload = {
                'snacks': collectSnacks(),
                'pets': collectPets(),
                'coupon': $('.couponInput').val()
            };
            updatePrice(payload);
        }

        $('.buyBtn').click(function () {
            clearValidationMessages();
            var payload = {
                'snacks': collectSnacks(),
                'pets': collectPets(),
                'coupon': $('.couponInput').val(),
                'creditCard': $('.creditCardInput').val(),
                'deliveryAddress': $('.deliveryAddress').val()
            };
            buyTickets(payload);
        })

        $('.removeTicket').click(function () {
            clearValidationMessages();
            var ticketId = $(this).closest('.cTd').attr('id').split('_')[1];
            var rowObj = $(this).closest('.cRow');
            $.ajax({
                url: '/payment/release/' + ticketId,
                type: 'get',
                success: function () {
                    rowObj.fadeOut(300, function () {
                        rowObj.remove();
                        if ($('.dataRow').length == 0){
                            location.href = '/booking';
                        }
                        recalc_price();
                    });
                },
                error: function () {
                    // TODO
                    return;
                },
            });
        });

        function clearValidationMessages() {
            $('.couponInputDiv').removeClass('error');
            $('.creditCardInput').removeClass('error');
            $('.addressInput').removeClass('error');
            $('.pets').removeClass('error');
        }

        function collectSnacks() {
            var result = {};
            $('.snackInput').each(function (i, checkbox) {
                result[checkbox.name] = checkbox.checked;
            });
            return result;
        }

        function collectPets() {
            var result = {};
            $('.petInput').each(function (i, option) {
                result[option.name] = option.value;
            });
            return result;
        }

        function updatePrice(action) {
            $.ajax({
                url: '/payment/update/',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(action),
                contentType: 'application/json; charset=utf-8',
                success: updatePriceOk,
                error: updatePriceNok
            });
        }

        function buyTickets(action) {
            $.ajax({
                url: '/payment/buy/',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify(action),
                contentType: 'application/json; charset=utf-8',
                success: buyOk,
                error: buyNok
            });
        }

        function updatePriceOk(data) {
            for (key in data.tickets) {
                $('.ticket_' + key).html(data.tickets[key])
            }
            $('.totalPrice').html(data.totalPrice);
            $('.totalDiscount').html(data.totalDiscount);
            $('.finalPrice').html(data.finalPrice);
            $('.couponStatus').html(data.couponStatus ? 'OK' : 'NOK');
            if ($('.couponInput').val().length == 0)
                $('.couponStatus').html('');
            $('.buyBtn').removeAttr('disabled');
        }

        function updatePriceNok(data) {
            var resp = data.responseJSON;
            $('.buyBtn').attr('disabled', 'disabled');
            if (resp.ticket_id) {
                $('.petInputDiv' + resp.ticket_id).addClass('error');
                $('.petInputDiv' + resp.ticket_id).children('.errorText').html(resp.message);
                return;
            }
            window.location.href = '/500'
        }

        function buyOk(data) {
            location.href = data.redirect_url
        }

        function buyNok(data) {
            var resp = data.responseJSON;
            if (data.status < 500) {
                if (resp.ticket_id) {
                    $('.petInputDiv' + resp.ticket_id).addClass('error');
                    $('.petInputDiv' + resp.ticket_id).children('.errorText').html(resp.message);
                }
                if (resp.message.email) {
                    $('.couponInputDiv').addClass('error');
                    $('.couponInputDiv').children('.errorText').html(resp.message.coupon);
                }
                if (resp.message.creditCard) {
                    $('.cardInput').addClass('error');
                    var msg = '';
                    $('.cardInput').children('.errorText').html(resp.message.creditCard);
                }
                if (resp.message.deliveryAddress) {
                    $('.addressInput').addClass('error');
                    var msg = '';
                    if (typeof(resp.message.deliveryAddress) != 'string') {
                        for (var i = 0; i < resp.message.deliveryAddress.length; i++)
                            msg += resp.message.deliveryAddress[i] + '<br/>'
                        $('.addressInput').children('.errorText').html(msg);
                    } else
                        $('.addressInput').children('.errorText').html(resp.message.deliveryAddress);
                }
            }
            else
                window.location.href = '/500';
        }

    </script>

{% endblock %}