{% extends 'base.html' %}

{% block content %}
    <div class='userInfo'>
        <div class='container'>
            <a href='/booking/' class='bookingLink' title='Booking'>booking</a>
            <a href='/logout/' class='logoutLink' title='Logout'>logout</a>
        </div>
    </div>
    <div class='title'>User Info</div>
    <div class='container'>
        <div class='userInfoForm'>
            <div class='formGroup'>
                <div class='formLabel'>Name</div>
                <input type='text' class='formInput oneMoreInput' disabled value='{{ user.username }}'>
            </div>
            <div class='formGroup'>
                <div class='formLabel'>Email</div>
                <div class='emailInput'>
                    <input type='text' class='formInput discountInput email' name='email'
                           value='{{ user.profile.email|default_if_none:"" }}'>
                    <div class='errorText'>Error text</div>
                </div>
            </div>
            <div class='formGroup checkPlace'>
                <div class='formLabel'>Credit Card</div>
                <div class='cardInput checked'>
                    <input type='text' class='formInput creditCard' name='creditCard'
                           value='{{ user.profile.credit_card.card_number }}'>
                    <div class='errorText'>Error text</div>
                </div>
            </div>
            <div class='formGroup addressInput'>
                <div class='formLabel'>Delivery Address Info</div>
                <textarea placeholder='Text' class='deliveryInfo'
                          name='address'>{{ user.profile.address|default_if_none:"" }}</textarea>
                <div class='errorText'>Error text</div>
            </div>
            <div class='clr'></div>
            <div class='btnBox twoBtn'>
                <button class='defBtn updateInfo' name='updateInfo'>Update Info</button>
                <button class='defBtn refreshInfo' name='refreshInfo'>Refresh Info</button>
            </div>
        </div>
    </div>


    {% if booked_tickets_list %}
        <div class='title'>Booked Tickets</div>

        <div class='container'>
            <form action='/buy' method='post' class='bookedTicketsForm'>
                <table class='rTable ticketTable bookedTickets'>
                    <thead class='rThead'>
                    <tr class='rRow'>
                        <td class='rTd'>Ticket ID</td>
                        <td class='rTd'>Date</td>
                        <td class='rTd'>Time</td>
                        <td class='rTd'>Name</td>
                        <td class='rTd'>Price</td>
                        <td class='rTd'>Booking Time</td>
                        <td class='rTd'>Remove From Cart</td>
                    </tr>
                    </thead>
                    <tbody class='rTbody'>
                    {% for ticket in booked_tickets_list %}
                        <tr class='rRow'>
                            <td class='rTd rTdId'>{{ ticket.id }}</td>
                            <td class='rTd rTdDate'>{{ ticket.performance.date|date:'d/m/Y' }}</td>
                            <td class='rTd rTdTime'>{{ ticket.performance.time|time:'H:i' }}</td>
                            <td class='rTd rTdTitle'>
                                <a href='javascript:;' class='showDes'
                                   id='description{{ ticket.id }}'>{{ ticket.performance.name }}</a>
                            </td>
                            <td class='rTd rTdPrice'>{{ ticket.performance.price|floatformat }}</td>
                            <td class='rTd rTdTimestamp'>{{ ticket.booked|date:'d/m/Y' }} {{ ticket.booked|dtime:'H:i' }}</td>
                            <td class='rTd rTdRemove'><input type='checkbox' name='{{ ticket.id }}'/></td>

                        </tr>
                        <tr class='rInfo'>
                            <td colspan='8' class='rTd'>
                                <div class='desOuter description{{ ticket.id }}'>
                                    <p>{{ ticket.performance.description }}</p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class='btnBox twoBtn'>
                    <button class='defBtn clearBtn' name='action' id='loginSubmit'>Remove Selected</button>
                    <button class='defBtn buyBtn' name='action' id='loginSubmit'>Buy All</button>
                </div>
            </form>
        </div>
    {% endif %}

    {% if bought_tickets_list %}
        <div class='title'>Bought Tickets</div>

        <div class='container'>
            <table class='rTable ticketTable bookedTickets'>
                <thead class='rThead'>
                <tr class='rRow'>
                    <td class='rTd'>Ticket ID</td>
                    <td class='rTd'>Date</td>
                    <td class='rTd'>Time</td>
                    <td class='rTd'>Name</td>
                    <td class='rTd'>Price</td>
                    <td class='rTd'>Bought Time</td>
                </tr>
                </thead>
                <tbody class='rTbody'>
                {% for ticket in bought_tickets_list %}
                    <tr class='rRow'>
                        <td class='rTd rTdId'>{{ ticket.id }}</td>
                        <td class='rTd rTdDate'>{{ ticket.performance.date|date:'d/m/Y' }}</td>
                        <td class='rTd rTdTime'>{{ ticket.performance.time|time:'H:i' }}</td>
                        <td class='rTd rTdTitle'>{{ ticket.performance.name }}</td>
                        <td class='rTd rTdPrice'>{{ ticket.performance.price|floatformat }}</td>
                        <td class='rTd rTdTimestamp'>{{ ticket.bought|date:'DATETIME_FORMAT' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <script>
        $('.updateInfo').click(function (event) {
            $('.emailInput').removeClass('error');
            $('.cardInput').removeClass('error');
            $('.addressInput').removeClass('error');
            event.preventDefault();
            $.ajax({
                url: '/user/update',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    'email': $('.email').val(),
                    'creditCard': $('.creditCard').val(),
                    'deliveryAddress': $('.deliveryInfo').val()
                }),
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    location.reload();
                },
                error: userUpdNegativeHandler
            });
        });

        $('.refreshInfo').click(function (event) {
            event.preventDefault();
            location.reload();
        });

        $('.bookedTicketsForm').on('submit', function (event) {
            event.preventDefault();
            submitParams(actionParam);
        });

        $('.clearBtn').click(function (event) {
            var result = {};
            $('.bookedTickets input').each(function (i, input) {
                result[input.name] = input.checked;
            });

            if (actionParam == 'clear') {
                $.ajax({
                    url: '/booking/clear/',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify(result),
                    contentType: 'application/json; charset=utf-8',
                    success: positiveHandler,
                    error: negativeHandler
                });
            }
        });

        $('.buyBtn').click(function (event) {
            window.location.href = '/payment';
        });

        function positiveHandler(data) {
            if (data.status == 'success')
                alert(data.message);
            location.reload();
        }

        function negativeHandler(data) {
            var resp = data.responseJSON;
            if (resp.message) {
                alert(resp.message);
                return;
            }
            alert('something went wrong :(')
        }

        function userUpdNegativeHandler(data) {
            var resp = data.responseJSON;
            if (data.status < 500) {
                if (resp.message.email) {
                    $('.emailInput').addClass('error');
                    var msg = '';
                    for (var i = 0; i < resp.message.email.length; i++)
                        msg += resp.message.email[i] + '<br/>'
                    $('.emailInput').children('.errorText').html(msg);
                }
                if (resp.message.creditCard) {
                    $('.cardInput').addClass('error');
                    var msg = '';
                    for (var i = 0; i < resp.message.creditCard.length; i++)
                        msg += resp.message.creditCard[i] + '<br/>'
                    $('.cardInput').children('.errorText').html(msg);
                }
                if (resp.message.deliveryAddress) {
                    $('.addressInput').addClass('error');
                    var msg = '';
                    for (var i = 0; i < resp.message.deliveryAddress.length; i++)
                        msg += resp.message.deliveryAddress[i] + '<br/>'
                    $('.addressInput').children('.errorText').html(msg);
                }
            }
            else
                window.location.href = '/500';
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
                }
            }
        });

    </script>

{% endblock %}