{% extends 'base.html' %}

{% block content %}
    <div class='userInfo'>
        <div class='container'>
            <a href='/booking/' class='bookingLink' title='Booking'>booking</a>
            <a href='/payment/' class='cartLink' title='Cart'>cart</a>
            <a href='/logout/' class='logoutLink' title='Logout'>logout</a>
        </div>
    </div>
    <div class='title'>User Info</div>
    <div class='container'>
        <div class='userInfoForm'>
            <div class='formGroup'>
                <div class='formLabel'>Name</div>
                <input type='text' class='formInput oneMoreInput' disabled value='{{ user.username }}'>
            </div>
            <div class='formGroup'>
                <div class='formLabel'>Email</div>
                <div class='emailInput'>
                    <input type='text' class='formInput discountInput email' name='email'
                           value='{{ user.profile.email|default_if_none:"" }}'>
                    <div class='errorText'>Error text</div>
                </div>
            </div>
            <div class='formGroup checkPlace'>
                <div class='formLabel'>Credit Card</div>
                <div class='cardInput{% if user.profile.credit_card is not None %} checked{% endif %}'>
                    <div class='creditCardOuter'><input type='text' class='formInput creditCard' name='creditCard'
                                                        value='{{ user.profile.credit_card.card_number }}'></div>
                    <div class='errorText'>Error text</div>
                </div>
            </div>
            <div class='formGroup addressInput'>
                <div class='formLabel'>Delivery Address Info</div>
                <textarea placeholder='Text' class='deliveryInfo'
                          name='address'>{{ user.profile.address|default_if_none:"" }}</textarea>
                <div class='errorText'>Error text</div>
            </div>
            <div class='clr'></div>
            <div class='btnBox twoBtn'>
                <button class='defBtn updateInfo' name='updateInfo'>Update</button>
                <button class='defBtn refreshInfo' name='refreshInfo'>Refresh</button>
            </div>
        </div>
    </div>


    {% if bought_tickets_list %}
        <div class='title'>Bought Tickets</div>

        <div class='container'>
            <table class='rTable ticketTable bookedTickets'>
                <thead class='rThead'>
                <tr class='rRow'>
                    <td class='rTd'>Ticket ID</td>
                    <td class='rTd'>Date</td>
                    <td class='rTd'>Time</td>
                    <td class='rTd'>Name</td>
                    <td class='rTd'>Price</td>
                    <td class='rTd'>Bought Time</td>
                </tr>
                </thead>
                <tbody class='rTbody'>
                {% for ticket in bought_tickets_list %}
                    <tr class='rRow'>
                        <td class='rTd rTdId'>{{ ticket.id }}</td>
                        <td class='rTd rTdDate'>{{ ticket.performance.date|date:'d/m/Y' }}</td>
                        <td class='rTd rTdTime'>{{ ticket.performance.time|time:'H:i' }}</td>
                        <td class='rTd rTdTitle'>{{ ticket.performance.name }}</td>
                        <td class='rTd rTdPrice'>{{ ticket.performance.price|floatformat }}</td>
                        <td class='rTd rTdTimestamp'>{{ ticket.bought|date:'d/m/Y' }} {{ ticket.bought|time:'H:i' }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <script>
        $('.updateInfo').click(function (event) {
            $('.emailInput').removeClass('error');
            $('.cardInput').removeClass('error');
            $('.addressInput').removeClass('error');
            event.preventDefault();
            $.ajax({
                url: '/user/update',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    'email': $('.email').val(),
                    'creditCard': $('.creditCard').val(),
                    'deliveryAddress': $('.deliveryInfo').val()
                }),
                contentType: 'application/json; charset=utf-8',
                success: function () {
                    location.reload();
                },
                error: userUpdNegativeHandler
            });
        });

        $('.refreshInfo').click(function (event) {
            event.preventDefault();
            location.reload();
        });

        function userUpdNegativeHandler(data) {
            var resp = data.responseJSON;
            if (data.status < 500) {
                if (resp.message.email) {
                    $('.emailInput').addClass('error');
                    var msg = '';
                    for (var i = 0; i < resp.message.email.length; i++)
                        msg += resp.message.email[i] + '<br/>'
                    $('.emailInput').children('.errorText').html(msg);
                }
                if (resp.message.creditCard) {
                    $('.cardInput').addClass('error');
                    var msg = '';
                    for (var i = 0; i < resp.message.creditCard.length; i++)
                        msg += resp.message.creditCard[i] + '<br/>'
                    $('.cardInput').children('.errorText').html(msg);
                }
                if (resp.message.deliveryAddress) {
                    $('.addressInput').addClass('error');
                    var msg = '';
                    for (var i = 0; i < resp.message.deliveryAddress.length; i++)
                        msg += resp.message.deliveryAddress[i] + '<br/>'
                    $('.addressInput').children('.errorText').html(msg);
                }
            }
            else
                window.location.href = '/500';
        }

    </script>

{% endblock %}