{% extends 'base.html' %}

{% block content %}
    <div class='title'>Testing Info - Discounts</div>
    <div class="container">
        <form action="/testing/discounts/" method="post">
            {% csrf_token %}
            <div class='col-sm-6 col-lg'>
                <div class='formGroup keywordGroup {% if form.percent.errors %}error{% endif %}'>
                    <div class='formLabel'>Discount Percent</div>
                    <input type='text' name='{{ form.percent.name }}' class='formInput discountInput'
                            value='{{ form.percent.value|default_if_none:"5" }}'>
                    <div class='errorText'>{{ form.percent.errors }}</div>
                </div>
            </div>
            <div class='col-lg-auto'>
                <div class='submit btnBox'><input type='submit' class='defBtn' value='Generate Discount Coupon'/></div>
            </div>
        </form>
    </div>

    
    <div class='discountsTable'>
        <div class="container">
            <div class='row-sm'>
                <table class='rTable ticketTable'>
                    <thead class='rThead'>
                    <tr class='rRow'>
                        <td class='rTd'>Coupon</td>
                        <td class='rTd'>Percent</td>
                    </tr>
                    </thead>
                    <tbody class='rTbody'>
                    {% for coupon in discounts %}
                        <tr class='rRow'>
                            <td class='rTd rTdNumber'>{{ coupon.code }}</td>
                            <td class='rTd rTdAmount'>{{ coupon.percent }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
{% endblock %}